// Font family Variables

$fontPrimary: "Roboto",
sans-serif;
$fontSecondary: 'Nunito';

// Font size Variables

$rootFontsize: 16;

// Colors

$textGray: #696969;
$primaryColor: #611f69;
$colorWhite: #fff;
$linkColor: #1264a3;

// Responsive variable

$breakpoints: ('medium': (min-width: 800px),
    'large': (min-width: 1000px),
    'huge': (min-width: 1200px),
    'mobile': (max-width: 799px));