// Font family Variables

$fontPrimary: "Roboto",
sans-serif;
$fontSecondary: 'Nunito';

// Font size Variables

$rootFontsize: 16;

// Colors

$textGray: #696969;
$primaryColor: #611f69;
$colorWhite: #fff;